/.vs/WebNails.Payment/v16/.suo
/bin/WebNails.Payment.dll
/bin/WebNails.Payment.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/WebNails.Payment.csproj.AssemblyReference.cache
/obj/Debug/WebNails.Payment.dll
/obj/Debug/WebNails.Payment.pdb
/obj/Debug/WebNails.Payment.csproj.CoreCompileInputs.cache
