@{
    ViewBag.Title = "Gift Card";
    var aHref = Url.Action("Payment", "Paypal", null, Request.Url.Scheme);
}
@section css{
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/page-gift.css" rel="stylesheet">
}
<main>
    <section class="bg">
        <div class="bg-gift">
            <div class="overlay"></div>
            <div class="page-main container-lg">
                <div class="row justify-content-center py-1 pb-4">
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_1.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_1.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_2.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_2.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_3.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_3.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_4.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_4.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_5.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_5.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_6.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_6.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_7.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_7.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_8.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_8.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_9.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_9.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_10.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_10.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_11.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_11.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_12.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_12.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_13.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_13.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-4">
                        <div class="box-inner">
                            <a href="@aHref?img=/Content/images/e-gift/gift_14.jpg">
                                <img alt="e gift for you" src="~/Content/images/e-gift/gift_14.jpg" loading="lazy" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>